---
layout: writer
title: jenaiz.com - Jesús Navarrete
---

<div class="col-md-8">
  {% for post in site.posts %}
    {% if post.tags.size > 0 %}
        {% capture tags_content %}<strong>Tags:</strong>{% if post.tags.size == 1 %}<i class="fa fa-tag"></i>{% else %}<i class="fa fa-tags"></i>{% endif %} {% endcapture %}
        {% for post_tag in post.tags %}
            {% for data_tag in site.data.tags %}
                {% if data_tag.slug == post_tag %}
                    {% assign tag = data_tag %}
                {% endif %}
            {% endfor %}
            {% if tag %}
                {% capture tags_content_temp %}{{ tags_content }}<a href="/blog/tag/{{ tag.slug }}/"><span class="label label-default">{{ tag.name }}</span></a> {% endcapture %}
                {% assign tags_content = tags_content_temp %}
            {% endif %}
        {% endfor %}
    {% else %}
        {% assign tags_content = '' %}
    {% endif %}
    <!--div class="post">
      <section-->
        <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
        <p>
          <img src="https://pbs.twimg.com/profile_images/658731573408346112/KVXuh2RR.png" width="30px" class="img-circle">
          Written by <a href="">Jenaiz</a> on {{ post.date | date_to_string }}</p>
        <p>
          {{ post.summary }}
        </p>
        <p>
          <a href="{{ post.url }}">More...</a>
        </p>
        <p>
          {{ tags_content }}
        </p>
        <hr>
      <!--/section>
    </div-->
  {% endfor %}
  <!--ul class="pager">
      <li class="previous">
          <a href="#">&larr; Older</a>
      </li>
      <li class="next">
          <a href="#">Newer &rarr;</a>
      </li>
  </ul-->
</div>

{% include sidebar.html %}
