---
layout: writer
date:   2014-10-06 8:00:00
---

<div class="col-md-8">
  <h3><a href="#">{{ page.title }}</a></h3>
  <p>Written on {{ page.date | date_to_string }}</p>
  <p>
    {{ content }}
  </p>
</div>
<div class="col-md-4">
  <div class="sidebar-module sidebar-module-inset">
    <img src="https://pbs.twimg.com/profile_images/658731573408346112/KVXuh2RR.png" width="50%">
    <h4>About</h4>
    <p>Hi, my name is <em>Jesús Navarrete</em> and <em>Smell the code</em> is my personal blog. I am currently interested in Machine Learning and Distributed Systems. The opinions expresed here are my own.</p>
  </div>
</div>
